<img src="" alt="">
<div class="container">
  <h1>
    <img id="img" src="http://bookmarked.co.in/image/cache/data/logo/Lknown-810x518w.jpg">{{company.name}}</h1>
  <h2>About Us:</h2>
  <p>{{company.description}}</p>
  <h2>Company Details:</h2>
  <p>
    <strong>Website :</strong>
    <a [href]=company.website>{{company.website}}</a>
  </p>
  <p>
    <strong>Headquarters :</strong>
    {{company.headquarters}}</p>
  <p>
    <strong>Company Type :</strong>
    {{company.company_type}}</p>
  <p>
    <strong>Company Size :</strong>
    {{company.company_size}}</p>
  <p>
    <strong>Company Specialities :</strong>
    {{company.specialties}}</p>
  <p>
    <strong>Job Profile :</strong>
    {{company.job_profile}}
  </p>
</div>